*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.projectpage
{
       background: #000000 ;
       min-height: 200vh;
       width: 100%;
       color: #fff;
       position: relative;

}

nav
{
      display: flex;
      align-items: center;
      padding: 20px 8%; 
}

nav .menu-img
{
      width: 25px;
      margin-right: 20px;
      cursor: pointer;
}
nav h1
{
    font-size: 40px;
    font-weight: 400;
}

nav h1 span
{ 
    font-size: 40px;
    font-weight: 540;
    color:#00986f;
}

nav ul
{
    flex:1;
    text-align: right;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 0 20px
}

nav ul li a
{
    text-decoration: none;
    color: #fff 
}
nav ul li .abc
{
    text-decoration: none;
    color: #ffa500; 

}
.text-container h1
{
    font-size: 30px;
    font-weight: 400;
    padding: 14px 128px;
    text-align: left;
}
.line1
{
      width: 70px;
      height: 5px;
      border:none;
      background: #00986f;
      border-top: 3px solid #00986f;
      margin: 0 128px;
      border-radius: 2px;
      margin-top: 0px;
      margin-left: 8.3%;
     
}
.line2
{
      width: 30px;
      height: 5px;
      background: #00986f;
      border-top: solid #00986f;
      margin: 5 128px;
      border-radius: 2px;
      margin-top: 5px;
      margin-left: 8.3%;
      border:none;
}
.text-container h2
{
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    display: inline-block;
    margin-left:8.1%;
}
.text-container p
{
    font-size: 18px;
    font-weight: 400;
    color: #999;
    font-style: normal;
    display: inline-block;
    padding: 14px 125px ;
    text-align: left;
}
.weight
{
    width: 300px;
    height: 300px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 15%;
    margin-top: 0%;
    
}
.arrow
{
    width: 100x;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: -00%;
    margin-bottom: 8%;
}
.smart
{
    width: 470px;
    height: 320px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 53%;
    margin-top: -19%;
    border:2px solid #00986f;
}
.img1
{
    width: 400px;
    height: 260px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 0px;
    border:2px solid #00986f;
}
.img2
{
    width: 400px;
    height: 260px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 10%;
    margin-bottom: 5%;
    border:2px solid #00986f;
}
.img3
{
    width: 400px;
    height: 260px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 05%;
    margin-top: -10px;
    border:2px solid #00986f;
}
    
