*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.myskillspage
{
       background: #000000 ;
       min-height: 210vh;
       width: 100%;
       color: #fff;
       position: relative;

}

nav
{
      display: flex;
      align-items: center;
      padding: 20px 8%; 
}

nav .menu-img
{
      width: 25px;
      margin-right: 20px;
      cursor: pointer;
}
nav h1
{
    font-size: 40px;
    font-weight: 400;
}

nav h1 span
{ 
    font-size: 40px;
    font-weight: 540;
    color:#00986f;
}

nav ul
{
    flex:1;
    text-align: right;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 0 20px
}

nav ul li a
{
    text-decoration: none;
    color: #fff 
}
nav ul li .abc
{
    text-decoration: none;
    color: #ffa500; 

}
.text-container h1
{
    font-size: 30px;
    font-weight: 400;
    padding: 14px 128px;
    text-align: left;
}
.line1
{
      width: 70px;
      height: 5px;
      border:none;
      background: #00986f;
      border-top: 3px solid #00986f;
      margin: 0 128px;
      border-radius: 2px;
      margin-top: 0px;
      margin-left: 8.3%;
     
}
.line2
{
      width: 30px;
      height: 5px;
      background: #00986f;
      border-top: solid #00986f;
      margin: 5 128px;
      border-radius: 2px;
      margin-top: 5px;
      margin-left: 8.3%;
      border:none;
}
.text-container h2
{
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    display: inline-block;
    margin-left:8.1%;
}
.box1
{
    width:280px;
    height: 300px;
    background:#000000;
    top:15%;
    left:8%;
    position: absolute;
    box-sizing: border-box ;
    border: 4px solid #1d2026;
    border-radius: 10px;
    padding: 0px 0px;
}
.box2
{
    width:280px;
    height: 300px;
    background:#000000;
    top:-1%;
    left:120%;
    position: absolute;
    box-sizing: border-box ;
    border: 4px solid #1d2026;
    border-radius: 10px;
    padding: 0px 0px;
}
.box3
{
    width:280px;
    height: 300px;
    background:#000000;
    top:-1%;
    left:120%;
    position: absolute;
    box-sizing: border-box ;
    border: 4px solid #1d2026;
    border-radius: 10px;
    padding: 0px 0px;
}
.box4
{
    width:280px;
    height: 300px;
    background:#000000;
    top:-1%;
    left:120%;
    position: absolute;
    box-sizing: border-box ;
    border: 4px solid #1d2026;
    border-radius: 10px;
    padding: 0px 0px;
}
.box5
{
    width:280px;
    height: 300px;
    background:#000000;
    top:110%;
    left:-364%;
    position: absolute;
    box-sizing: border-box ;
    border: 4px solid #1d2026;
    border-radius: 10px;
    padding: 0px 0px;
}
.box1 .html-img1
{
    width: 250px;
    height: 220px;
    margin-left: 4%;
    margin-top:-87%;
    cursor: pointer;
}
.box2 .html-img2
{
    width: 250px;
    height: 210px;
    margin-left: 5%;
    margin-top:-85%;
    cursor: pointer;
}    
.box3 .html-img3
{
    width: 250px;
    height: 210px;
    margin-left: 5%;
    margin-top:-85%;
    cursor: pointer;
}    
.box4 .html-img4
{
    width: 200px;
    height: 185px;
    margin-left: 15%;
    margin-top:-80%;
    cursor: pointer;
}
.box5 .html-img5
{
    width: 270px;
    height: 190px;
    margin-left: 0%;
    margin-top:-85%;
    cursor: pointer;
}
.box1 h1
{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-left:-60%;
    margin-top: 70%;
    color: #fff;
    text-align: center;
    display:inline-block;
    position: relative;
    left:55%
    
}
.box2 h1
{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-left:-57%;
    margin-top: 70%;
    color: #fff;
    text-align: center;
    display:inline-block;
    position: relative;
    left:55%
    
}
.box3 h1
{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-left:-76%;
    margin-top: 70%;
    color: #fff;
    text-align: center;
    display:inline-block;
    position: relative;
    left:55%
    
}
.box4 h1
{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-left:-58%;
    margin-top: 70%;
    color: #fff;
    text-align: center;
    display:inline-block;
    position: relative;
    left:55%
    
}
.box5 h1
{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-left:-73%;
    margin-top: 70%;
    color: #fff;
    text-align: center;
    display:inline-block;
    position: relative;
    left:55%
    
}
.box1  p
{
    
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    color: #999;
    margin-left:10%;
    margin-top: -10%;
    padding: 0px 0px;
   
}
.text-container .my-project 
{
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    display: inline-block;
    margin-left:0%;
    margin-top: -2%;
}
.box6
{
    width:420px;
    height: 300px;
    background:none;
    top:133%;
    left:0%;
    position: absolute;
    box-sizing: border-box ;
    border: 4px solid #1d2026 ;
    border-radius: 10px;
    padding: 0px 0px;
}
.box6 .project1-img
{
    width: 420px;
    height: 300px;
    margin-left: -1%;
    margin-top:0%;
    cursor: pointer;
    border-radius: 10px;
}
.box7 .project2-img
{
    width: 420px;
    height: 280px;
    margin-left: 1.5%;
    margin-top:2%;
    cursor: pointer;
}
.box6 h1
{
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    margin-left:-80%;
    margin-top: 5%;
    color: #999;
    display: inline-block;
    position: relative;
    left:50%;
    
}
.box6  p
{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-left:2%;
    margin-top: -2%;
    margin-inline: block;
    color: #00986f;
 
}
.box7
{
    width:440px;
    height: 300px;
    background:none;
    top:0%;
    left:115%;
    position: absolute;
    box-sizing: border-box ;
    border: 4px solid #1d2026;
    border-radius: 10px;
    padding: 0px 0px;
}
.text-container .soft-skills
{
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    display: inline-block;
    margin-left:-115%;
    margin-top: -8%;
}
.square1
{
    width:150px;
    height:45px;
    background:none;
    border:3px solid#00986f;
    border-radius: 20px;
    margin-left:-115% ;
    margin-top: 8%;
}
.softskills h5
{
    
    font-size: 22px;
    font-weight: 400;
    color: #999;
    font-style: normal;
    display: inline-block;
    margin-left:-109.5%;
    margin-top: -8%;
}
.square2
{
    width:218px;
    height:45px;
    background:none;
    border:3px solid#00986f;
    border-radius: 20px;
    margin-left:-70% ;
    margin-top: -11%;
}
.softskills h6
{
    
    font-size: 22px;
    font-weight: 400;
    color: #999;
    font-style: normal;
    display: inline-block;
    margin-left:-65%;
    margin-top: -8%;
}
.square3
{
    width:150px;
    height:45px;
    background:none;
    border:3px solid#00986f;
    border-radius: 20px;
    margin-left:-07% ;
    margin-top: -11%;
}
.softskills h7
{
    
    font-size: 22px;
    font-weight: 400;
    color: #999;
    font-style: normal;
    display: inline-block;
    margin-left:-1%;
    margin-top: -8%;
}
.square4
{
    width:190px;
    height:45px;
    background:none;
    border:3px solid#00986f;
    border-radius: 20px;
    margin-left:38% ;
    margin-top: -11%;
}
.softskills h8
{
    
    font-size: 22px;
    font-weight: 400;
    color: #999;
    font-style: normal;
    display: inline-block;
    margin-left:44%;
    margin-top: -8%;
}